@model IEnumerable<TransactionsData.Models.MTProductModel>

@{
    ViewData["Title"] = "Mobile Products List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mobile Products List</h1>

<p>
    <a asp-action="Create">Create New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productCode3r)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.information)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.provider3r)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product3r)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productCode3r)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.information)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.provider3r)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product3r)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
