@model TransactionsData.Models.MerchantTerminals
@{
    ViewData["Title"] = "Merchant Terminal";
}
<h1>Merchant Terminal</h1>
<div class="container jumbotron">
    @using (Html.BeginForm("UpdateTerminal", "Merchant", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="form-group control-label">
            <div class="col">
                Terminal ID:
                @Html.EditorFor(model => model.TerminalId, new { htmlAttributes = new { @class = "form-control"} })
                <div hidden>@Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control"} })</div>
                <div hidden>@Html.EditorFor(model => model.MerchantID, new { htmlAttributes = new { @class = "form-control" } })</div>
            </div>
            <div class="col">
                IP Address:
                @Html.EditorFor(model => model.IpAddress, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        
            

            <div class="form-group control-label">
                <div class="col">
                    <input type="submit" value="Update" class="btn btn-primary" id="btnSearch" />
                </div>
            </div>
        </div>
    </div>
    }
</div>
    
