
<table id="tblTerms" class="table table-bordered table-striped col-md-4">
    <thead>
        <tr>
            <th>Terminal ID</th>
            @*<th>IP Address</th>*@
            <th>Remove</th>
        </tr>
    </thead>
</table>
<link href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#tblTerms')) {
            table = $('#tblTerms').DataTable();
                table.destroy();
            }
        $("#tblTerms").DataTable({
                "ajax": {
                    "url": '@Url.Action("getListofTerminals", "Merchant")' + "?mid=" + "@ViewData["MerchantID"]",
                    "type": "Get",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "terminalId", render: function (data) {
                            data = "<a href=" + '@Url.Action("ShowTerminal", "Merchant")' + "?tid=" + data + "&mid=" + "@ViewData["MerchantID"]" + ">" + data + '</a>';
                            return data;
                        }
                    },
                    /*{ "data": "ipAddress" },*/
                    {
                        "data": "terminalId", render: function (data) {
                            var datareturn = "<a href=" + '@Url.Action("DeleteTerminal", "Merchant")' + "?tid=" + data + "&mid=" + "@ViewData["MerchantID"]" + "> Remove </a>";                            
                            return datareturn;
                        }
                    },
                ]
            });

    });
</script>